*{
    padding: 0;
    box-sizing: 0;
    margin: 8px;
}
input{
    width: 400px;
}

div{
    height: 100px;
    width: 300px;

    border: 2px solid black;
}

form{
    display: flex;
     flex-direction: column;
     align-items: center;
     gap: 5px;
 }
body{
    background-color: aquamarine;
}
